
/* Add CSS Styling */

* {
    
}

.class-1 {
    background-color: #ffc0cb;
    color: #000000;
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
    font-size: 24px;
}

#id-1 {
    color: rgb(0,0,255);
    font-size: 36px;
}

.class-2 {
    background-color: #ffc0cb;
    color: #000000;    
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
    font-size: 24px;
}

#id-2 {
    background-color: #80ff80;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
}


